<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="4" parallel="classes" name="Suite">
  <test thread-count="2" parallel="classes" name="Test">
    <classes>
      <class name="QueueCodes.LoginPageTest"/>
      <class name="QueueCodes.HPTitleValidaton"/>
      <class name="QueueCodes.HPTextValidation"/>
      <class name="QueueCodes.ScenarioDashboard"/>
      <class name="QueueCodes.Users"/>
      <class name="QueueCodes.RegisterUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
